<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <center>
            <h1 ng-click="loginCtrl.init()">{{loginCtrl.title}}</h1>
            <hr>
            <span cool-timer>Time</span>
            <hr>

            <table border=1 style="width:100%" ng-click="loginCtrl.setClients()">
                <th style="width:50%">Name</th>
                <th style="width:50%">Description</th>
                <tr ng-repeat="item in loginCtrl.clients track by $index">
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                </tr>
            </table>
        </center>
    </div>
</body>
</html>