<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <center>

            <div class="header" ng-click="clientsCtrl.init()" >{{clientsCtrl.title}}</div>
            <input type="text" class="form-control" ng-model="clientsCtrl.query.name" scroll-there cool-timer>


            <table class="table table-striped input" ng-click="clientsCtrl.setClients()">
                <th style="width:50%">Name</th>
                <th style="width:50%">Description</th>
                <tr ng-repeat="item in clientsCtrl.clients track by $index">
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                </tr>
            </table>

            <h4>
                <div class="label label-default" style="font-size:17px; background-color:#337ab7" ng-click="clientsCtrl.goToHead()">
                    Records count: {{clientsFilter.length}} ({{clientsCtrl.clients.length}})
                </div>
            </h4>
			<hr>
            <h4>
                <div class="label label-default" style="font-size:17px; background-color:#337ab7" cool-timer>
                 </div>
            </h4>
            <hr>

            <button class="btn btn-primary button" ng-click="clientsCtrl.getClients()">Add</button>&nbsp
            <button class="btn btn-primary button" ng-click="clientsCtrl.clientsBack()" scroll-here>Back</button>
            <br><br>


 


        </center>
    </div>
</body>
</html>