<html ng-app="app">
<title>TypeScript test</title>
<body>
	<div ui-view></div>
	<script src="app.js"></script>
	
	<div ng-controller="ClientsCtrl as vm">
		<center>
		<h1 ng-click="vm.init()">{{vm.title}}</h1> 
		<hr>
			<span cool-timer>Time</span>
		<hr>
		
		<table border=1 style="width:100%" ng-click="vm.setClients()">
			<th style="width:50%">Name</th>
			<th style="width:50%">Description</th>
			<tr ng-repeat="item in vm.clients track by $index">
				<td>{{item.name}}</td>
				<td>{{item.description}}</td>
			</tr>
		</table>
	</div

</body>
</html>